@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";

.leaflet-control-container {
  z-index: 400 !important;
}

/* optional subtle route animation */
.leaflet-routing-line {
  stroke-dasharray: 10 8;
  stroke-linejoin: round;
  stroke-linecap: round;
}
 
body {
  margin: 0;
  font-family: 'font-inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'font-inter';
}

code {
  font-family: 'font-inter', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #5198ac;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  animation: loopUnderline 1.5s infinite alternate;
}

@keyframes loopUnderline {
  0% { width: 0%; }
  50% { width: 100%; }
  100% { width: 0%; }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

@keyframes scrollDown {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

.animate-scroll-up {
  animation: scrollUp 40s linear infinite;
}

.animate-scroll-down {
  animation: scrollDown 40s linear infinite;
}


