<IfModule mod_rewrite.c>
    RewriteEngine On

    #  FORCE HTTPS FIRST (VERY IMPORTANT)
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://www.netlankatravels.com%{REQUEST_URI} [L,R=301]

    # SPA fallback (React / Vue / Angular)
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>
